<% if @goal.id %>
	<h3>Edit Goal</h3>
	<% submit_value = "Edit goal" %>
<% else %>
	<h3>Create Goal</h3>
	<% submit_value = "Create goal" %>
<% end %>

<% if @goal.id %>
<form action="<%= goal_url(@goal) %>" method="POST">
<input type="hidden" name="_method" value="put">
<% else %>
<form action="<%= goals_url %>" method="POST">
<% end %>

	<input type="hidden"
	name="authenticity_token"
	value="<%= form_authenticity_token %>">

	<label for="title">Title</label><br>
	<input type="text" name="goal[title]" id="title" value="<%= @goal.title %>">
<br>
	<label for="body">Body</label>
<br>
	<textarea id="body" name="goal[body]"><%= @goal.body %></textarea>
<br>
	<label for="private">Private</label><br>
	<input type="radio" id="private" name="goal[private]" value="true">

<br>
	<label for="public">Public</label>
	<br>
	<input type="radio" id="public" name="goal[private]" value="false">

<br>
	<label for="completed">Completed?</label>
	<input type="hidden" name="goal[completed]" value="false">
	<input type="checkbox" id="completed" name="goal[completed]" value="true">
<br>
	<label for="categories">Categories</label>
	<select id="categories" name="goal[category_id]">
		<% Category.all.each do |category| %>
		<option <%= 'selected' if category.id == 1 %> value="<%= category.id %>"><%= category.name%></option>
		<% end %>
	</select><br>
	<input type="submit" value="<%= submit_value %>">

</form>

<%= link_to("Create a category", new_category_url) %>