<h1>Goal: <%= @goal.title%></h1>
<%= @goal.body %><br>
Private? <%= @goal.private %><br>
Completed? <%= @goal.completed %>
Cheers: <%= @goal.cheers.count %>
<%= button_to("Cheer this goal", goal_cheers_url(@goal), :method => "POST") %>
<br>
<%= link_to("Return to profile", user_url(@goal.user)) %>
<%= link_to("Edit goal", edit_goal_url(@goal)) %>

